*{
	padding:0px;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
html, body{
	height: 100%;
	background-image: url('../images/fundo.jpg');
	background-size: cover;
	background-repeat: repeat;
	background-clip: border-box;
}

/*Menu e painel*/
.opcoes_mobile{
	height: 10vh;
}

.opcoes_desktop{
	height: 10vh;
	opacity: 0.85;
}

.menu_option_desktop{
	line-height: 10vh;
	font-size: 20px;
}

.menu_option_desktop:hover{
	background-color: #666;
	cursor: pointer;
	-webkit-transition:all ease-out 0.1s;
	  -moz-transition:all ease-out 0.1s;
	  	-o-transition:all ease-out 0.1s;
	  	-ms-transition:all ease-out 0.1s;
	  		transition:all ease-out 0.1s;	  		
}

.lang_icon{
	height: 6vh;
}

#menu_opcoes{
	width: 100%;
}

#menu_icon{
	line-height:10vh;
}

#logo{
	height: 4vh;
	margin-top: 3vh;
}

#img_profile{
	width: 30%;
	border: 2px solid #666;
	margin: auto;
	display: block;
}

#welcome_phrase{
	text-align: center;
	font-size: 4vh;
}


