*{
	padding:0px;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
body{
	height: 100vh;
	background-image: url('../images/teste.jpg');
	background-size: cover;
    background-position: bottom;
    background-repeat: repeat;
	background-clip: border-box;
}

#btn_bottom_language{
	position: fixed;
	bottom: 0;
	right: 0;
	height:40px;
	width: 150px;
	border-radius:5px 0px 0px 0px;
    box-shadow: 10px 10px 10px 10px #000;
    z-index: 2000;
}

#btn_bottom_language div{
	height: 100%;
}

#btn_bottom_language:hover{
	cursor: pointer;
}

#div_idiomas{
	position: fixed;
	bottom: 45px;
	right: 0; 
	height: auto; 
	width: 150px;
	z-index: 1000;
	border-radius: 5px 0px 0px 5px;
	display: none;
}

.opcoes_menu_idiomas{
	height: 40px;
	width: 100%;
	padding-left:10%;
	padding-right:10%; 
}

/*Menu e painel*/
.opcoes_mobile{
	height: 10vh;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

.opcoes_desktop{
	height: 10vh;
	opacity: 0.95;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

.menu_option_desktop{
	line-height: 10vh;
	font-size: 18px;
	text-align: center;
}

.menu_option_desktop a{
	color: white;
}

.menu_option_desktop:hover{
	background-color: #666;
	cursor: pointer;
	-webkit-transition:all ease-out 0.1s;
	  -moz-transition:all ease-out 0.1s;
	  	-o-transition:all ease-out 0.1s;
	  	-ms-transition:all ease-out 0.1s;
	  		transition:all ease-out 0.1s;	  		
}

.lang_icon{
	height: 6vh;
}

#conteudo_inicial{
	height: 90%;
}

#menu_opcoes{
	width: 100%;
}

#menu_icon{
	line-height:10vh;
}

#logo{
	height: 4vh;
	margin-top: 3vh;
}

#superior_div{
	padding: 0px;	
	height: auto;	
	margin-top: 20vh;
}

#img_profile{
	border: 2px solid #666;
	margin: auto;
	height: 40vh;
}

#welcome_phrase{
	text-align: center;
	font-size: 4vh;
	line-height: 4vh;
	color: #DEDEDE;
}

#welcome_sub_phrase{
	text-align: center;
	font-size: 3vh;
	color: #DEDEDE;
}


/*about me*/
.content_on_the_page{
	padding-top: 2vh;
	padding-bottom: 2vh;
}

.title_abouts{
	font-size: 4vh;
	color: #646464;
	line-height: 0px;
}

#text_about_me{
	text-align: justify;
	font-size: 2vh;
}

/*my works*/

.work{
	height: auto; 
	border-bottom:1px solid #646464;
}

.work_title{
	font-size: 4vh; 
	color:#3949ab; 
	line-height: 4vh;	
}

.work_technology{
	font-size: 2vh; 
	color:#A4A4A4; 
	line-height: 4vh;
}

.work_description{
	font-size: 2vh; 
	color:#343434;
}


#my_works{
	height: auto;
}

#div_contact_left{
	padding:0px; 
	border-right: 1px solid #646464;
}

.titles_contact{
	font-size: 3vh; 
	line-height: 0px; 
	text-align: center; 
	color: #FFF;
}

.img_social_network{
	width: 20%;	
}

.emails{
	font-size: 2vh; 
	text-align: center;
	color: #AAA;
}